*{margin:0;
padding:0;
box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(69,62,62);
    display:grid;
    grid-template-columns:repeat(3,1fx);
    grid-template-rows: repeat(4,1fr);
    gap:1rem;
    padding:1rem;
    border: 2px solid white;
    justify-items: center;
    align-items:center;

}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(49,206,14);
    border:5px solid rgb(217, 202, 202);
    /* justify-self:stretch; */
    /* align-self: stretch; */
    place-self:stretch ;
}